.backtick {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 100;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  z-index: 101;
  background-color: #1a1a1d;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.popup-header {
  background-color: #121212;
  text-align: center;
  padding: 25px 0;
  color: #6f2232;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

.popup-header > h1 {
  font-size: 20px;
}

.popup-body {
  padding: 15px;
  color: #fff;
  text-align: justify;
  font-weight: bold;
}

.popup-action {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-top: 1px solid #fff;
  background-color: #121212;
}

.popup-action > button {
  cursor: pointer;
  border: 2px solid #6f2232;
  color: #fff;
  background-color: inherit;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.4s;
}

.popup-action > button:hover {
  background-color: #6f2232;
}
