footer {
  margin-top: 80px;
  width: 100%;
}

.upper-footer {
  background-color: #000;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.upper-footer > a {
  color: #fff;
  text-decoration: none;
  outline: none;
  margin: 3px 0;
}

.upper-footer > a:hover {
  text-decoration: underline;
}

.lower-footer {
  color: #fff;
  padding: 5px 0;
  text-align: center;
  background-color: #1a1a1d;
}

.lower-footer > p {
  font-size: 12px;
}
