.content-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 60px auto 0 auto;
}

.cover {
  position: relative;
  background: url("/assets/covers/home_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  mask-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.cover:before {
  position: absolute;
  inset: 0px;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}

.cover > h1 {
  color: #fff;
  position: absolute;
  top: 30px;
  left: 40px;
  text-shadow: #000;
}

.link-movies {
  position: absolute;
  top: 100px;
  left: 60px;
  padding: 6px 10px 6px 10px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}

.link-movies:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.about {
  width: 80%;
  margin-top: 60px;
}

.title {
  text-align: center;
  position: relative;
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.title:after {
  position: absolute;
  width: 60px;
  height: 3px;
  left: 50%;
  bottom: 0px;
  content: "";
  transform: translateX(-50%);
  background-color: #6f2232;
}

.about > p {
  text-align: justify;
  font-weight: bold;
}

.prices-container {
  width: 60%;
  margin-top: 80px;
}

.prices-wrapper {
  display: flex;
  justify-content: space-between;
}

.price-card {
  background-color: #1a1a1d;
  width: 100px;
  height: 150px;
  padding: 25px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.price-card > h3 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 35px;
}

.price-card > h3:after {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 50%;
  bottom: 0px;
  content: "";
  transform: translateX(-50%);
  background-color: #fff;
}

strong {
  color: #6f2232;
}

.location-container {
  margin: 60px 0;
  max-width: 80%;
  display: flex;
  justify-content: center;
}

.map {
  position: relative;
  width: 960px;
  height: 350px;
  background-image: url("/assets/images/map_HU_left.png");
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.location-info {
  position: absolute;
  right: 70px;
  bottom: 80px;
  width: 310px;
  height: 150px;
  padding: 30px;
  background: #000;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  text-align: center;
}

.location-info > h1 {
  margin-bottom: 12px;
}

@media (max-width: 1000px) {
  .prices-container {
    width: 80%;
  }

  .cover {
    height: 350px;
  }

  .location-info {
    width: 200px;
    height: 100px;
    bottom: 90px;
  }

  .location-info > h1 {
    font-size: 20px;
  }
}

@media (max-width: 426px) {
  .prices-wrapper {
    flex-flow: column;
    align-items: center;
  }

  .price-card {
    margin-bottom: 12px;
    width: 60%;
  }

  .cover {
    height: 200px;
  }

  .cover > h1 {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 30px;
    text-shadow: #000;
    font-size: 22px;
  }

  .link-movies {
    position: absolute;
    top: 65px;
    left: 30px;
    padding: 3px 6px 3px 6px;
    background-color: #fff;
  }

  .location-info {
    display: none;
  }

  .map {
    display: none;
  }
}
