<div class="content-container">
  <div class="cover">
    <h1>MLN Cinema</h1>
    <button class="link-movies" (click)="onNavigate()">Check the movies</button>
  </div>
  <div class="about">
    <h1 class="title">MLN Cinema</h1>
    <p>
      We are a very very cool private cinema located in Budapest, and this is
      just a dummy text. We are a very very cool private cinema located in
      Budapest, and this is just a dummy text. We are a very very cool private
      cinema located in Budapest, and this is just a dummy text. We are a very
      very cool private cinema located in Budapest, and this is just a dummy
      text. We are a very very cool private cinema located in Budapest, and this
      is just a dummy text. We are a very very cool private cinema located in
      Budapest, and this is just a dummy text.
    </p>
  </div>
  <div class="prices-container">
    <h1 class="title">Ticket prices</h1>
    <div class="prices-wrapper">
      <div class="price-card">
        <h3>Student</h3>
        <p><strong>2.5 $ </strong>/ person</p>
      </div>
      <div class="price-card">
        <h3>Child (under 18)</h3>
        <p><strong>2 $ </strong>/ person</p>
      </div>
      <div class="price-card">
        <h3>Full price</h3>
        <p><strong>5 $ </strong>/ person</p>
      </div>
    </div>
  </div>
  <div class="location-container">
    <div class="map">
      <div class="location-info">
        <h1>BUDAPEST</h1>
        <p>1137 XY Street 10.</p>
        <p>+36 99 999 99 99</p>
      </div>
    </div>
  </div>
</div>
