.container {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 5px;
  text-align: center;
  margin-top: 90px;
}

.container > h1 {
  color: #fff;
  margin-bottom: 15px;
}

.container > a {
  margin-top: 20px;
  padding: 6px 10px 6px 10px;
  border: 2px solid #6f2232;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
